:root {
  --dark-blue: #040D40;
  --medium-blue: #051259;
  --violet: #AC9FBF;
  --violet-grey: #040D40;
  --purple: #8B518C;
  --pink: #F288C2;
  --light-pink: #F2DCE8;
  --mid-color: #AF84A4;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav {
  background-color: var(--dark-blue);
  color: var(--pink);
  height: 3rem;
  display: flex;
  gap: 2rem;
}
.hero {
  background-color: var(--medium-blue) ;
  
}
.hero-title{
  color: var(--light-pink);
}

.hero-para{
  color: var(--light-pink)
}